@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    scrollbar-color: #B68C5A rgb(255, 255, 255);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
::selection {
    background-color: #B68C5A;
    color: white;
}
html {
    scroll-behavior: smooth;
}

h2, h3{
    color: #414040;
}
.practice-areas p{
    color: #707070;
}
.p-text-color{
    color: #707070;
}
body{
    font-family: poppins, sans-serif;
    margin: 0;
    margin-top: 120px;

}

.hero-container {
 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(images/banner.png);
 color: white;
 border-radius: 8px;
}
h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 20px;
}
.low-card:hover{
    background-color: #F3F3F3;
    background: linear-gradient(184deg,rgba(243, 243, 243, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.nave a:hover{
    color: black
}
.review-card{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(images/banner.png);
 color: white;
 border-radius: 8px;
}

textarea {
    resize: none;
    height: 150px;
}
.box{
    background-color:#F3F3F3;
    align-items: center;
    text-align: center;
}
.box:hover{
    background-color: #f3f3f3b4;
}
.btn:hover{
    background-color: #b68d5ac4;
    color: rgba(0, 0, 0, 0.6);
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #B68C5A;
}
.footer-area h3{
    color: white;
    margin-bottom: 30px;
}
.footer-area p{
    color: #CFCFCF;
    margin-bottom: 15px;
}
.footer-area .nave li{
    margin-bottom: 10px;
    color: #CFCFCF;
}



/* Responsive */


@media (min-width: 992px) and (max-width:1199px) {
     .footer-area input{
        width: 100%;
     }
     .footer-area .btn{
        padding-left: 58.5px;
        padding-right: 58.5px;
    }

}
@media (min-width: 768px) and (max-width:991px) {

}
@media (min-width: 576px) and (max-width:767px) {

}
@media (max-width: 575px) {
    
}


@import "tailwind"

